body {
  background-color: rgb(255, 255, 255);
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

div {
  text-align: center;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 4px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  transition: 0.2s;
  color: rgb(102, 182, 155);
  font-weight: 300;
}

a:hover {
  color: rgb(59, 105, 90);
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.header {
  margin: 50px auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding-bottom: 32px;
  border-bottom: 0.5px solid rgb(59, 105, 90);
  letter-spacing: 1.5px;
}

.img-profile {
  filter: grayscale(80%);
  border-radius: 50%;
  transition: 0.5s;
}

.img-profile:hover {
  filter: grayscale(20%);
  color: grey;
  box-shadow: 5px 5px 20px;
}

.interest-header {
  margin: 50px auto;
  text-align: center;
}

.interests {
  margin: 50px auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.list-interests {
  width: 100%;
  height: 100%;
  line-height: 300px;
  background-size: cover;
  filter: grayscale(80%);
  transition: 0.5s;
}

.list-interests:hover {
  filter: grayscale(20%);
  color: grey;
  box-shadow: 5px 5px 20px;
}

.list-text {
  color: white;
  font-size: 1.5em;
}

#list-skiing {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/skiing.jpg);
}

#list-hiking {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/hiking.jpg);
}

#list-dogs {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/dogs.jpg);
}

#list-reading {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/reading.jpg);
}

.footer {
  width: 200px;
  margin: 50px auto;
  align-content: center;
  border-top: 0.5px solid rgb(59, 105, 90);
}

@media (min-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .profile {
    padding-left: 250px;
  }
  .bio {
    padding-right: 250px;
  }
  .interests{
    width: 70%;
  }
  #list-skiing {
    grid-column: 1;
    grid-row: 1;
  }
  #list-hiking {
    grid-column: 2;
    grid-row: 1;
  }
  #list-dogs {
    grid-column: 1;
    grid-row: 2;
  }
  #list-reading {
    grid-column: 2;
    grid-row: 2;
  }
}
@media (max-width: 960px) and (min-width: 780px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .profile {
    padding-left: 120px;
  }
  .bio {
    padding-right: 120px;
  }
}

@media (max-width: 780px) and (min-width: 630px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 300px;
  }
  .profile {
    padding-left: 60px;
  }
  .bio {
    padding-right: 60px;
  }
}
